.header{
    max-width: 1300px;
    margin: auto;
}
/* navber */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.school{
    display: flex;
}
.scho{
    margin-left: 10px;
}
.list-one{
    display: flex;
    list-style: none;
    justify-content: space-between;
}
a{
    text-decoration: none;
}
.list{
    margin-right: 15px;
}
.home{
    color: orange;
}
.about{
    color: blue;
}
.facilities{
    color: green;
}
.addmission{
    color: rgb(65, 16, 65);
}
.bar{
    margin-left: 25px;
}
.btn1{
    background-color: orange;
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 10px;
    font-weight: bold;
}
.threelines{
    width: 100px;
    display: none;
}
.line{
    display: none;
}

/* Banner */
.banner{
    display: flex;
    align-items: center;
}
.student{
    font-size: 50px;
    width: 55%; 
}
.emp{
    color: orange;
}
.vision{
    color: blue;
}
.kin{
    opacity: 0.8;
}
.btn2{
    border: none;
    background-color: black;
    color: white;
    padding: 10px 30px;
    border-radius: 10px;
}
@media screen and (max-width:576px) {
    .banner{
        flex-direction: column-reverse;
    }
    .empower{
        text-align: center;
    }
    .student{
        width: 95%;
    }
    .scho, .list-one, .btn1{
        display: none;
    }
    .threelines{
        display: block;
    }
    .header{
        max-width: auto;
    }
    .img1{
        width: 100%;
    }
    .li{
        margin-right: 0;
    }
    .line{
        display: block;
        border: 1px solid orange;
    }
    .img2{
        width: 100%;
    }
}


.main{
    max-width: 1300px;
    margin: auto;
}

/* standard curriculum */
.curriculum{
    background-image: url(../Images/bg.png);
}
.stan{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
.curri{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.box{
    border: 1px solid rgb(205, 202, 202);
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    background-image: linear-gradient(rgb(216, 240, 250), white);
}
.komola{
    background-image: linear-gradient( rgb(249, 228, 190), white);
}
.beguni{
    background-image: linear-gradient(rgb(203, 206, 248), white);
}
.right, .left{
    background-color: orange;
    border-radius: 50%;
    display: inline;
    padding: 20px;
    color: white;
    margin-right: 5px;
    font-weight: bold;
    font-size: larger;
}
.right:hover{
    background-color: white;
    color: orange;
    border: 1px solid orange;
}
.left:hover{
    background-color: white;
    color: orange;
    border: 1px solid orange;
}
.move{
    text-align: center;
    margin-top: 60px;
}
@media screen and (max-width: 576px) {
    .curri{
        flex-direction: column;   
    }
    .box{
        margin-right: 0;
        margin-bottom: 15px;
    }
    .right, .left{
        display: none;
    }
    .move{
        margin-top: 0px;
    }
}

/* our stories */
.our{
    background-image: url(../Images/bg.png), linear-gradient(white,sandybrown);
    padding: 1px;
}
.fun{
    border: 1px solid rgb(234, 230, 230);
    border-radius: 10px;
    background-color: white;
}
.story{
    display: grid;
    grid-template-columns: 2fr repeat(2, 1fr);
    gap: 20px; 
}
#one{
    grid-row: span 2;
}
.todd{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.btn3{
    border: none;
    border-radius: 10px;
    color: white;
    background-color: blue;
    padding: 8px;
    position: relative;
    top: -20px;
    right: -20px;
}
.view{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.nov{
    padding: 15px;
}

@media screen and (max-width:576px) {
    .first{
        display: none;
    }
    .story{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
         }
}


.kids{
    display: flex;
}
.ul2{
    list-style: none;
}
.foot{
    background-color: blue;
    color: white;

}
.footer{
    max-width: 1300px;
    margin: auto;
    display: grid;
    grid-template-columns: 2fr repeat(2, 1fr);
    justify-content: space-between;
    padding: 20px;
}
@media screen and (max-width:576px) {
    .footer{
        grid-template-columns: repeat(1, 1fr);
    }
}
